body {
  font-family: Arial;
  background: linear-gradient(135deg, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

.input-area {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  border: none;
  background: #667eea;
  color: white;
  cursor: pointer;
}

.filtros {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  margin-top: 10px;
  padding: 10px;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
}

.concluida {
  text-decoration: line-through;
  color: gray;
}